<ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modificación de Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="UpdateProductMenu()">
          <div class="form-group">
              <label for="nombre">Nombre del producto</label>
              <div class="input-group">
                <input type="text" name="name" placeholder="name" [(ngModel)]=ItemtoEdit.name>
              </div>
              <label for="nombre">Descripcion del producto</label>
              <div class="input-group">
                  <input type="text" name="descripcion" placeholder="descripcion" [(ngModel)]=ItemtoEdit.description>
              </div>
              <label for="nombre">Imagen del producto</label>
              <div class="input-group">
                  <input type="file" size="60" style="margin-bottom: 10px" id="file"  (change)="upload($event)" accept=".png,.jpg">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <label for="nombre">Precio del producto</label>
              <div class="input-group">
                  <input type="number" name="precio" placeholder="precio" [(ngModel)]=ItemtoEdit.price>
              </div>
            </div>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
                <label ngbButtonLabel class="btn-primary" class="green">
                    <input ngbButton type="radio" (click)="Disponibilidad(true)"> Disponible
                  </label>
                  <label ngbButtonLabel class="btn-primary" class="red">
                    <input ngbButton type="radio" (click)="Disponibilidad(false)"> No Disponible     
                  </label>
            </div>
            <button type="button" class="btn btn-outline-dark" Style="background-color: black;color: white;margin-left: 36px" (click)="DeleteProductMenu()" (click)="c('Save click')">Eliminar</button>
            <button type="submit" class="btn btn-outline-dark" Style="margin-left: 37px">Guardar</button>
      </form>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Volver</button>
    </div>
  </ng-template>

  <div class="body">
  <app-navbar-admin></app-navbar-admin>
  <div class="container container-frm">
    <div class="row" id="panes">
     <h1>Panes</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Panes'}">
        <div *ngIf="men.type == 'Panes'">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="/src/assets/pencil.png" width="55px" height="55px" (click)="open(content1)" (click)="EditarProducto($event,men)" (click)="encontrar(men)">
              </div>
            </div>
          </div>
        </div>
          <h3 style="margin-top:75%">{{men.name}}</h3>
          <h4>{{men.description}}</h4>
        </div>
    </div>
    </div>
    <div class="row" style="margin-top:100px" id="croissants">
      <h1>Croissants</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Croissants'}">
        <div *ngIf="men.type == 'Croissants'">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="assets/pencil.png" width="55px" height="55px" (click)="open(content1)" (click)="EditarProducto($event,men)" (click)="encontrar(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
    </div>
   </div>
    <div class="row" style="margin-top:100px" id="pastelitos">
      <h1>Pastelitos</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Pastelitos'}">
      <div *ngIf="men.type == 'Pastelitos'">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="assets/pencil.png" width="55px" height="55px" (click)="open(content1)" (click)="EditarProducto($event,men)" (click)="encontrar(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
    </div>
    </div>
    <div class="row" style="margin-top:100px" id="tortas">
      <h1>Tortas</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Tortas'}">
       <div *ngIf="men.type == 'Tortas'">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text"> Precio: {{men.price}} $
                <img src="assets/pencil.png" width="55px" height="55px" (click)="open(content1)" (click)="EditarProducto($event,men)" (click)="encontrar(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="dulces">
      <h1>Dulces</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Dulces'}">
      <div *ngIf="men.type == 'Dulces'">
       <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="assets/pencil.png" width="55px" height="55px" (click)="open(content1)" (click)="EditarProducto($event,men)" (click)="encontrar(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
      </div>
    </div>
  </div>
</div>
  

<div class="footer">
  <div class="container">
    <div class="row">
        <div class="col-12 text-center" style="margin-top:30px; color:white; font-family:PenelopeAnne; font-size: medium">
         <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pasticceria Della Nonna</span> está distribuido bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licencia Creative Commons Atribución-SinDerivadas 4.0 Internacional</a>.
        </div>
    </div>
</div>    
</div>