<div class="container-fluid vn">
  <nav class="navbar navbar-expand-sm fondo navbar-dark fixed-top">
    <a href="" class="navbar-brand" style="font-size:x-large;"><img src="assets/logo1.ico" width="50px" height="50px" style="margin-right: 10px;"><b>Pasticceria Della Nonna</b></a> 
    <div ngbDropdown class="d-inline-block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="dropdownBasic1" ngbDropdownToggle>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  style="background: transparent; border: none">
      <div class="dropdown-content" style="margin-left:-70px">
        <button class="dropdown-item" ><a href="home/#about" class="nav-link"><b>SOBRE NOSOTROS</b></a></button>
        <button class="dropdown-item"><a href="home/#locate" class="nav-link"><b>UBICANOS</b></a></button>
        <button class="dropdown-item"><a href="home/#contact" class="nav-link"><b>CONTACTANOS</b></a></button>
        <div class="texto" style="font-weight: bold">
          Opciones de Usuario</div>
        <button class="dropdown-item"><a routerLink="/datav" class="nav-link"><b> - Actualizar Datos</b></a></button>
        <button class="dropdown-item"><a routerLink="/cart" class="nav-link"><b> - Ver Carrito</b></a></button>
        <button class="dropdown-item"><a href="#" class="nav-link"><b> - Cerrar Sesion</b></a></button>
      </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/user" style="margin-left:5vw"><b>MENU</b></a>
              <div class="dropdown-content">
                <div class="superior">
                 <li><a href="user/#panes" class="nav-link">Panes</a></li>
                </div>
                <div class="medio">
                  <li><a href="user/#croissants" class="nav-link">Croissants</a></li>
                </div>
                <div class="medio">
                  <li><a href="user/#pastelitos" class="nav-link">Pastelitos</a></li>
                </div>
                <div class="medio">
                  <li><a href="user/#tortas" class="nav-link">Tortas</a></li>
                </div>
                <div class="inferior">
                  <li><a href="user/#dulces" class="nav-link">Dulces</a></li>
                </div>
              </div>
            </li>
            <li class="nav-item" style="margin-left:5vw"><a href="home/#about" class="nav-link"><b>SOBRE NOSOTROS</b></a></li>
            <li class="nav-item" style="margin-left:5vw"><a href="home/#locate" class="nav-link"><b>UBICANOS</b></a></li>
            <li class="nav-item" style="margin-left:5vw"><a href="home/#contact" class="nav-link"><b>CONTACTANOS</b></a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="user" id="usuario"><b>Usuario</b></a>
              <div class="dropdown-content">
                <div class="superior">
                 <li><a routerLink="/datav" class="nav-link">Actualizar Datos</a></li>
                </div>
                <div class="medio">
                  <li><a routerLink="/cart" class="nav-link">Ver Carrito</a></li>
                </div>
                <div class="inferior">
                  <li><a href="#" class="nav-link">Cerrar Sesion</a></li>
                </div>
              </div>
            </li>
        </ul>
    </div>
  </nav>
</div>