.body{
    width: 100%;
    height: 626px;
    background-image: url(C:\Users\ValeriaMadio\Desktop\AppPasticceria\src\assets\fondo20.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    
    
}
    

