<div class="body">
  <app-navbar-admin></app-navbar-admin>
  <div class="container">
      <div class="row">
          <div class="col-10 container-bg">
              <h1 style=" font-family: 'OptimusPrinceps'; color: white; margin-left:100px">Bienvenido otra vez, Administrador</h1>
              <img src="assets/logo.png" width="300px" height="300px" style="margin-left:280px; margin-top:50px; margin-bottom: 40px">
          </div>
      </div>
  </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="margin-top:30px; color:white; font-family:PenelopeAnne; font-size: medium">
             <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pasticceria Della Nonna</span> está distribuido bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licencia Creative Commons Atribución-SinDerivadas 4.0 Internacional</a>.
            </div>
        </div>
    </div>     
</div>