<ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Administracion de Usuarios</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="false">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <div class="table responsive">
                    <div class="table table-hover">
                        <thead>
                            <th>Usuarios</th>
                            <th>Administrador</th>
                            <th><div Style="font-size: 11px">Habilitar/Deshabilitar Admin</div></th>
                        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.name}} {{usuario.lastname}}</td>
            <div *ngIf="usuario.admin == true;else templateName">
            <td><div Style="margin-left: 40px">Si</div></td>
            </div>
            <td><button type="button" class="btn btn-outline-light" Style="margin-left: 50px"(click)="CambiarAdmin(usuario)">Cambiar</button></td>
            </tr>
        </tbody>
    </div>
</div>
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Pedidos Pendientes</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="table responsive">
                        <div class="table table-hover">
                            <thead>
                                <th>Productos</th>
                                <th>Monto</th>
                                <th>Usuario</th>
                                <th>Eliminar</th>
                            </thead>
            <tbody>
                <tr *ngFor="let pedido of ordenpedidos">
                <td>{{pedido.productos}}</td>
                <td>{{pedido.price}} $</td>
                <td>{{pedido.usuario}}</td>
                <td><img src="assets/trash.png" width="50px" height="50px" Style="cursor: pointer"></td>
                </tr>
            </tbody>
        </div>
        </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cerrar</button>
        </div>
      </ng-template>

<div class="body">
  <app-navbar-admin></app-navbar-admin>
  <div class="container">
      <div class="row">
          <div class="col-6 container-bg">
              <h1 style=" font-family: 'OptimusPrinceps'; color: white; text-align: center">Bienvenido otra vez, {{getName()}}</h1>
              <img src="assets/logo.png" width="300px" height="300px" style="margin-left:110px; margin-top:50px; margin-bottom: 40px">
          </div>
          <div class="col-1"></div>
          <div class="col-3 container-bg">
            <img src="assets/pencil.png" width="200px" height="200px" (click)="open(content1)" Style="cursor: pointer">
            <h5 style=" font-family: 'OptimusPrinceps'; color: white; text-align: center">Administrar Usuarios</h5>
            <img src="assets/!.png" width="200px" height="200px" (click)="open(content2)" Style="cursor: pointer">
            <h5 style=" font-family: 'OptimusPrinceps'; color: white; text-align: center;margin-top: 20px">Pedidos Pendientes</h5>

          </div>
      </div>
  </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="margin-top:30px; color:white; font-family:PenelopeAnne; font-size: medium">
             <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pasticceria Della Nonna</span> está distribuido bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licencia Creative Commons Atribución-SinDerivadas 4.0 Internacional</a>.
            </div>
        </div>
    </div>     
</div>

<ng-template #templateName>
    <td><div Style="margin-left: 40px">No</div></td>
  </ng-template>