<div class="body">

    <div class="images">
       <div class="container">
           <div class="row">
               <div class="col-12 container-bgg">
                   <div class="row"> <h1 style="font-family: 'PenelopeAnne'; color:white; font-size: 40px; text-align: center"><b>Bienvenidos a la Pasticceria Della Nonna</b></h1> </div>
                  <div class="row">
                       <div class="col-4">
                           <div class="caja"> <img src="assets/Anuncio 1.png" alt="" ></div>
                       </div>
                       <div class="col-4">
                            <div class="caja"> <img src="assets/Anuncio 2.png" alt="" ></div>
                        </div>
                        <div class="col-4">
                                <div class="caja"> <img src="assets/Anuncio 3.png" alt=""></div>
                            </div>
                  </div>
               </div>
           </div>
       </div>
    </div>
    <div class="AboutUs" >
        <div class="container" id="about">
            <div class="row">
                <div class="col-12 container-bg">
                    <div style="bottom: 5px">
                        <h4 style="font-family: 'PenelopeAnne'; color:white; font-size: 50px" ><b>Sobre Nosotros</b></h4>
                    </div>
                    <div class="row centrar">
                         <img src="assets/logo.png" width="180px" height="180px">
                    </div>
                    <h3 style="text-align: justify; font-family: 'PenelopeAnne'; color:white; font-size: 23px">La Pasticceria della Nonna nació con el objetivo de brindarle a los venezolanos los mejores sabores de la bella Italia. Con nosotros podrás disfrutar de una amplia variedad de desayunos y postres servidos con la mejor calidad, un buen servicio, un ambiente agradable y familiar de aromas y sabores inolvidables.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="LocateUs">
            <div class="container"   id="locate">
                    <div class="row">
                        <div class="col-12 container-bg">
                            <div style="bottom: 10px">
                                <h4 style="font-family: 'PenelopeAnne'; color:white; font-size: 50px"><b>Ubicanos</b></h4>
                            </div>
                            <div class="row" style=" display: flex; justify-content: center; width: 100%; height: 70vh">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d378.14701469948625!2d-66.81441618830013!3d10.487415346990442!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8c2a582c80819ff7%3A0xcf1f421dea7f3ea9!2sResidencias+Aguila%2C+Caracas+1071%2C+Miranda!3m2!1d10.4873953!2d-66.8143862!5e0!3m2!1ses-419!2sve!4v1538883280562" width="90%" height="90%" frameborder="0" style="border:0; box-shadow: 0px 0px 20px black" allowfullscreen></iframe>
                             </div>
                </div>
    </div>
    </div>
    </div>

    <div class="ContactUs">
            <div class="container" id="contact">
                  <div class="row" style="display:flex; justify-content:center">
                      <div class="col-12 container-bg" style="padding:50px; ">
                           <div class="row" style="margin-bottom: 30px">
                                <div>
                                    <h4 style="font-family: 'PenelopeAnne'; color:white; font-size: 50px"><b>Contactanos</b></h4>
                                </div>
                           </div>
                           <div class="row" style="display:flex; justify-content:center">
                         <div class="col-6 formm">
                                <form>
                                        <div class="row">
                                           <div class="col-6 text-center">
                                                  <div class="form-group">
                                                          <label for="given-name"><b>Nombre</b></label>
                                                          <input style="border-radius: 25px" type="text" class="form-control" id="name">
                                                  </div>
                                           </div>
                                           <div class="col-6 text-center">
                                                  <label for="family-name"><b>Apellido</b></label>
                                                  <input style="border-radius: 25px" type="text" class="form-control" id="lastname">
                                          </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-6 text-center">
                                                     <div class="form-group">
                                                             <label for="email"><b>Correo Electronico</b></label>
                                                             <input style="border-radius: 25px" type="text" class="form-control" id="email">
                                                     </div>
                                              </div>
                                              <div class="col-6 text-center">
                                                      <label for="tel"><b>Telefono Celular</b></label>
                                                      <input style="border-radius: 25px" type="text" class="form-control" id="tel">
                                              </div>
                                           </div>
                                        <div class="row" >
                                               <div class="col-12 text-center">
                                                    <h4 style="margin-top:10px; color:white; font-family:PenelopeAnne; font-size:3vh"><b>Escribe tu mensaje</b></h4>
                                                   <textarea style="border-radius: 25px; margin-top:10px" class="form-control" rows="5"></textarea>
                                               </div>
                                        </div>
                                        <div class="row" style="display:flex; justify-content:center">
                                            <div class="row" style="margin-top:5vh;">
                                                    <button type="submit" class="btn btn-bg">Enviar</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                         </div>
                        </div>
                      </div>
                  </div>  
            </div>
    </div>    


<div class="footer">
       <div class="container">
           <div class="row">
               <div class="col-12 text-center" style="margin-top:30px; color:white; font-family:PenelopeAnne; font-size: medium">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pasticceria Della Nonna</span> está distribuido bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licencia Creative Commons Atribución-SinDerivadas 4.0 Internacional</a>.
               </div>
           </div>
       </div>

</div>
