
<div class="row">
  <div class="col-4 container-bg letra" style="margin-top:100px; margin-left:220px">
    <div class="row row-bg">
        <form (ngSubmit)="cambio()">
          <div class="row"><h1>Cambio de Contraseña</h1></div>
          <label for="pwd"><b>Ingrese correo electronico</b></label>
          <input style="border-radius: 50px; margin-left:30px" type="text" class="form-control" name="email" [(ngModel)]="users.email">
          <div class="row">
            <button type="submit" class="btn btn-bg" style="margin-left:165px">Cambiar</button>
          </div>
        </form>
    </div>
  </div>
</div>