<div class="row  cf">
  <div class="col-8 container-bg">
      <div class="row row-bg">
          <h1>Actualiza tus datos</h1>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="given-name"><b>Nombre</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="name">
          </div>
          <div class="col-6">
            <label for="family-name"><b>Apellido</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="lastname">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="tel"><b>Telefono</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="tel">
          </div>
          <div class="col-6">
            <label for="email"><b>Correo Electronico</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="email">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="city"><b>Ciudad</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="city">
          </div>
          <div class="col-6">
            <label for="pwd"><b>Urbanizacion</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="pwd">
          </div>
        </div>
        <div class="row">
          <h4><b>Direccion Completa</b></h4>
          <textarea class="form-control" rows="5" style="border-radius: 25px"></textarea>
        </div>
        <div class="row">
          <h4><b>Puntos de Referencia</b></h4>
          <textarea class="form-control" rows="5" style="border-radius: 25px"></textarea>
        </div>
      <div class="row">
        <button type="submit" class="btn btn-bg btn-lg">Actualizar</button>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-4 container-bg letra" style="margin-top:100px; margin-left:220px">
    <div class="row row-bg">
        <div class="row"><h1>Cambio de Contraseña</h1></div>
        <label for="pwd"><b>Contraseña Anterior</b></label>
        <input style="border-radius: 25px" type="text" class="form-control" id="pwd">
        <label for="pwd"><b>Nueva Contraseña</b></label>
        <input style="border-radius: 25px" type="text" class="form-control" id="pwd">
        <label for="pwd"><b>Confirmar Contraseña</b></label>
        <input style="border-radius: 25px" type="text" class="form-control" id="pwd">
        <div class="row">
            <button type="submit" class="btn btn-bg" style="margin-left:150px">Actualizar</button>
        </div>
      
    </div>
  </div>
</div>