@font-face{
    font-family: 'OptimusPrinceps';
    src: src="fonts/OptimusPrinceps.ttf";
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'BelindaScript';
    src: src="fonts/BelindaScript.ttf";
    src: src="fonts/BelindaScript.otf";
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'PenelopeAnne';
    src: src="fonts/PenelopeAnne.ttf";
    font-weight: normal;
    font-style: normal;
    
}

.container-bg{
    background-color: rgb(158, 104, 22);
    top: 150px;
    padding: 50px;
    box-shadow: 0px 0px 20px black;
    border: groove;
    border-radius: 10px;
    font-family: 'PenelopeAnne';
    color: white;
    left: 15%;
}

.btn-bg{
    margin-left: 40%;
    color: brown;
    background-color: pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    font-family: 'OptimusPrinceps';
    margin-top: 20px;
}

.row-bg{
    
    margin-top: 10px;
}

.cf{
    margin: 0 auto;
}

label{
    font-size: x-large;
    margin-left: 150px;
    margin-top: 10px;
}

h4{
    margin-top: 20px;
    margin-left: 330px;
}

h1{
    margin-left: 270px;
    margin-bottom: 30px;
    font-weight: bold;
}

.letra label{
    font-size: x-large;
    margin-left: 100px;
    margin-top: 10px;
}

.letra h1{
    margin-left: 70px;
    margin-bottom: 30px;
    font-weight: bold;
}