<div class="row  cf">
  <div class="col-8 container-bg">
      <div class="row row-bg">
          <h1>Actualiza tus datos</h1>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="name"><b>Nombre</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="name">
          </div>
          <div class="col-6">
            <label for="lastname"><b>Apellido</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="lastname">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="phone"><b>Telefono</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="cellphone">
          </div>
          <div class="col-6">
            <label for="email"><b>Correo Electronico</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="email">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="city"><b>Ciudad</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="city">
          </div>
          <div class="col-6">
            <label for="urbanization"><b>Urbanizacion</b></label>
            <input style="border-radius: 25px" type="text" class="form-control" id="urbanization">
          </div>
        </div>
        <div class="row">
          <h4><b>Direccion Completa</b></h4>
          <textarea class="form-control" rows="5" style="border-radius: 25px"></textarea>
        </div>
        <div class="row">
          <h4><b>Puntos de Referencia</b></h4>
          <textarea class="form-control" rows="5" style="border-radius: 25px"></textarea>
        </div>
      <div class="row">
        <button type="submit" class="btn btn-bg btn-lg">Actualizar</button>
      </div>
  </div>
</div>