@font-face{
    font-family: 'OptimusPrinceps';
    src: url('../../../fonts/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'BelindaScript';
    src: url('../../../fonts/BelindaScript.ttf');
    src: url('../../../fonts/BelindaScript.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'PenelopeAnne';
    src: url('../../../fonts/PenelopeAnne.ttf');
    font-weight: normal;
    font-style: normal;
    
}

.container-frm{
    background-color: rgba(90, 51, 0, 0.904);
    box-shadow: 0px 0px 20px black;
    margin: 10px;
    border-style: groove;
    border-radius: 25px;
    padding: 35px;
    position: absolute;
    box-sizing: border-box;
    margin-left: 450px;
}
.btn-bg{
    color: brown;
    background-color: pink;
    box-shadow: 0px 0px 20px pink;
    margin-bottom: 20px;
    border-radius: 30px;
    font-family: 'OptimusPrinceps';
    box-sizing: border-box;
}

.cf{
    margin: 0 auto;
}

.col-11{
    left:4%;
}



