@font-face{
    font-family: 'OptimusPrinceps';
    src: url('../../../fonts/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'BelindaScript';
    src: url('../../../fonts/BelindaScript.ttf');
    src: url('../../../fonts/BelindaScript.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'PenelopeAnne';
    src: url('../../../fonts/PenelopeAnne.ttf');
    font-weight: normal;
    font-style: normal;
    
}

.container-frm{
    background-color: rgba(90, 51, 0, 0.904);
    box-shadow: 0px 0px 20px black;
    margin: 10px;
    border-style: groove;
    border-radius: 25px;
    padding: 35px;
    position: absolute;
    box-sizing: border-box;
}
.btn-bg{
    color: brown;
    background-color: pink;
    box-shadow: 0px 0px 20px pink;
    margin-bottom: 20px;
    border-radius: 30px;
    font-family: 'OptimusPrinceps';
    box-sizing: border-box;
}

.cf{
    margin: 0 auto;
}

.col-11{
    left:4%;
}


@media screen and (min-height: 500px){
    .container-frm{
        max-height: 98%;
        top: 1%;
        bottom: 1%;
        left: 7%;
        right: 10%;
        max-width: 83%;
    }
}

@media screen and (min-height: 800px){
    .container-frm{
        max-height: 90%;
        top: 5%;
        bottom: 5%;
        left: 7%;
        right: 10%;
        max-width: 83%;
    }
}

@media screen and (min-height: 1200px){
    .container-frm{
        max-height: 60%;
        top: 20%;
        bottom: 20%;
        left: 7%;
        right: 10%;
        max-width: 83%;
    }
}