<div class="container-fluid vn">
    <nav class="navbar navbar-expand-sm fondo navbar-dark fixed-top">
      <a href="" class="navbar-brand" style="font-size:x-large;"><img src="assets/logo1.ico" width="50px" height="50px" style="margin-right: 10px;"><b>Pasticceria Della Nonna</b></a> 
      <div ngbDropdown class="d-inline-block"> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="dropdownBasic1" ngbDropdownToggle>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div class="dropdown-content">
            <button class="dropdown-item" ><a routerLink="/mmenu" class="nav-link"><b>MENU</b></a></button>
            
            <div class="texto" style="font-weight: bold">Opciones de Administrador
            </div>
            <button class="dropdown-item"><a routerLink="/mmenu" class="nav-link"><b> - Modificar Menu</b></a></button>
            <button class="dropdown-item"><a routerLink="/ingredients" class="nav-link"><b> - Agregar Menu</b></a></button>
            <button class="dropdown-item"><a href="#" class="nav-link"><b> - Cerrar Sesion</b></a></button>
        </div>
    </div>
    </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav navbar-center">
              <li class="nav-item" style="margin-right: 50px;"><a routerLink="/mmenu" class="nav-link"><b>MENU</b></a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/admin" >{{name}} {{lastname}}</a>
                <div class="dropdown-content">
                <div class="superior">
                   <li><a routerLink="/mmenu" class="nav-link">Modificar Menu</a></li>
                </div>
                <div class="medio">
                    <a routerLink="/ingredients" class="nav-link">Agregar Menu</a>
                </div>
                <div class="inferior">
                    <li><a (click)="fireAuth.logOut()" class="nav-link" style="cursor: pointer">Cerrar Sesion</a></li>
                </div>
                </div>
              </li>
          </ul>
      </div>
    </nav>
  </div>