<div class="body">
    <app-navbar-user></app-navbar-user>

    <div class="container">
      <div class="row">
        <div class="col-12 container-bg">
                <div class="row">
                  <h2 style="margin-bottom:20px">Los siguientes productos se encuentran en tu carrito:<img src="assets/cart.jpg" width="100px" height="100px" style="margin-left:30px"></h2>
                </div>
                <div class="row" >
                  <div class="col-3  row-bg" *ngFor="let producto of productos">
                    <div class="caja">
                      <img src="{{producto.img}}" alt="" width="100px" height="100px">
                    </div>
                    <div >
                      <div><h2 style="margin-top:35px; text-align: center; font-size: 28px"><b>{{producto.name}}</b><a><img src="assets/x.png" width="30px" height="30px" alt="home" style="margin-left:10px; text-align: center; cursor: pointer" (click)="eliminar(producto.id)" (click)="total()"></a></h2></div>
                      <div><h3 style="text-align: center; font-size: 15px">"Extras: {{producto.extras}}"</h3></div>
                      <div><h2 style="text-align: right; font-size: 20px">Precio: {{producto.priceb}} $</h2> </div> 
                  </div>
                  </div>
                </div>
              <div>
                <div><h2 style="margin-top:40px">El total es: {{Total}} $</h2></div>
                <div *ngIf="variable == false;else templateName">
                    <button type="submit" class="btn btn-bg btn-lg" (click)="cambio()" (click)="addHistorial()">Comprar</button> 
                </div>
                </div>
              </div>
        </div>
      </div>
    </div>

<ng-template #templateName>
  <div class="row">
    <h3 Style="margin-right:10px">Link generado para pagar con Paypal:</h3><div><ngx-paypal  [config]="payPalConfig"></ngx-paypal></div>
  </div>
</ng-template>

  
  <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-12 text-center" style="margin-top:30px; color:white; font-family:PenelopeAnne; font-size: medium">
               <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pasticceria Della Nonna</span> está distribuido bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licencia Creative Commons Atribución-SinDerivadas 4.0 Internacional</a>.
              </div>
          </div>
      </div>     
  </div>
