@font-face{
    font-family: 'OptimusPrinceps';
    src: url('../../../fonts/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'BelindaScript';
    src: url('../../../fonts/BelindaScript.ttf');
    src: url('../../../fonts/BelindaScript.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'PenelopeAnne';
    src: url('../../../fonts/PenelopeAnne.ttf');
    font-weight: normal;
    font-style: normal;
    
}

.fondo{
    background-color: rgb(80, 51, 9);
    box-shadow: 0px 0px 20px black;
    color:white; 
    font-family:PenelopeAnne;
}

.navbar-nav.navbar-center {
    position: absolute;
    color:white; 
    font-family:PenelopeAnne; 
    font-size:4vh;
    margin-right: 5vw;

}

.navbar-nav.navbar-right {
    position: absolute;
    left: 85%;
    color:white; 
    font-family:PenelopeAnne; 
    font-size:4vh;
    
}

.dropdown-content{
    position: absolute;
    background-color: rgb(80, 51, 9);
    opacity: 0.9;
    float: left;
    list-style: none;
    width: 150px;
    height: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    font-size: 13px;
    color: white;
    text-align: center;
}
.vito{
    margin-left:6vw;
}

@media (max-width: 938px){
    .vito{
margin-left:2vw;
    }

}


