@font-face{
    font-family: 'OptimusPrinceps';
    src: url('../../../fonts/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'BelindaScript';
    src: url('../../../fonts/BelindaScript.ttf');
    src: url('../../../fonts/BelindaScript.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: 'PenelopeAnne';
    src: url('../../../fonts/PenelopeAnne.ttf');
    font-weight: normal;
    font-style: normal;
    
}

.fondo{
    background-color: rgb(80, 51, 9);
    box-shadow: 0px 0px 20px black;
    color:white; 
    font-family:PenelopeAnne;
}

.navbar-nav.navbar-center {
    position: absolute;
    color:white; 
    font-family:PenelopeAnne; 
    font-size:4vh;
    margin-right: 5vw;

}

.navbar-nav.navbar-right {
    position: absolute;
    left: 85%;
    color:white; 
    font-family:PenelopeAnne; 
    font-size:4vh;
    
}



