  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¡Hola Comprador!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Tu producto fue agregado con exito al carrito</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
    </ng-template>

<div class="container container-frm">
    <div class="row" id="panes">
     <h1>Panes</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/pandulce.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
          <h3 style="margin-top:75%">Pan Dulce</h3>
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/panleche.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
         <h3 style="margin-top:75%">Pan de Leche</h3>
         <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
         <img src="assets/panchocolate.png" width="200px" height="200px">
         <div class="Num1">
          <div class="overlay">
            <div class="text">0.00BsS
              <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
            </div>
          </div>
        </div>
        </div>
         <h3 style="margin-top:75%">Pan de Chocolate</h3>
         <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/panfrutas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%">Pan de Frutas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/panpasas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%">Pan de Pasas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/pannuez.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pan de Nuez</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="croissants">
      <h1>Croissants</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/simple.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Croissant Simple</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/croissantchocolate.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Croissant de Chocolate</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/croissantdulceleche.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Croissant de Dulce de Leche</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/croissantjq.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Croissant de Jamon y Queso</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>  
    </div>
    <div class="row" style="margin-top:100px" id="pastelitos">
      <h1>Pastelitos</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/pastelitopollo.png" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pastelito de Pollo</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/pastelitoscarne.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pastelito de Carne</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/espinacayqueso.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pastelito de Espinaca y Queso</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>  
    </div>
    <div class="row" style="margin-top:100px" id="tortas">
      <h1>Tortas</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/cheesecake.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Cheesecake</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/milhojas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">MilHojas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/opera.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Opera</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/pie-de-limon.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pie de Limon</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div> 
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/piefresa.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pie de Fresa</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/piemanzana.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pie de Manzana</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/piemora.JPG" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pie de Mora</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/oreo.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Torta de Oreo</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div> 
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/redvelvet.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Red Velvet</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
       <div class="caja centrarCaja">
          <img src="assets/tiramisu.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Tiramisu</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/tortacoco.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
       <h3 style="margin-top:75%; left:20px">Torta de Coco</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/profiterol.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Profiteroles</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="dulces">
      <h1>Dulces</h1>
    </div>
    <div class="row">
      <div class="col-4">
       <div class="caja centrarCaja">
          <img src="assets/alfajores.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Alfajores</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/brownie.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Brownie</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/cinnamon.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Cinnamon Roll</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/galletas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Galletas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div> 
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/macarons.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Macarons</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/muffinfrutas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Muffin de Frutas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/palmeritas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Palmeritas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/pastelnata.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Pastel de Nata</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div> 
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/polvorosas.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Polvorosas</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/suspiros.jpg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Suspiros</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, vero.</h4>
      </div>
      <div class="col-4">
        <div class="caja centrarCaja">
          <img src="assets/tresleches.jpeg" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">0.00BsS
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">Tres Leches</h3>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
    </div>
  </div>
