  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¡Hola Comprador!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Tu producto fue agregado con exito al carrito</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
      </div>
    </ng-template>

<div class="container container-frm">
    <div class="row" id="panes">
     <h1>Panes</h1>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let pan of pans">
        <div class="caja centrarCaja">
          <img src="{{pan.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{pan.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
          <h3 style="margin-top:75%">{{pan.name}}</h3>
          <h4>{{pan.description}}</h4>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="croissants">
      <h1>Croissants</h1>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let croissant of croissants">
      <div *ngIf="croissant.avaible == true">
        <div class="caja centrarCaja">
          <img src="{{croissant.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{croissant.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{croissant.name}}</h3>
        <h4>{{croissant.description}}</h4>
      </div>
    </div>
  </div>
    <div class="row" style="margin-top:100px" id="pastelitos">
      <h1>Pastelitos</h1>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let pastelito of pastelitos">
        <div class="caja centrarCaja">
          <img src="{{pastelito.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{pastelito.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{pastelito.name}}</h3>
        <h4>{{pastelito.description}}</h4>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="tortas">
      <h1>Tortas</h1>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let torta of tortas">
        <div class="caja centrarCaja">
          <img src="{{torta.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text"> Precio: {{torta.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{torta.name}}</h3>
        <h4>{{torta.description}}</h4>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="dulces">
      <h1>Dulces</h1>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let dulce of dulces">
       <div class="caja centrarCaja">
          <img src="{{dulce.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{dulce.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{dulce.name}}</h3>
        <h4>{{dulce.description}}</h4>
      </div>
    </div>
  </div>
