  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¡Hola Comprador!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Personaliza tu Compra</p>
          <div >
              <div class="row">
              <label for="product" style="font-size:large; margin-top: 10px; margin-right: 10px">Extra Tipo 1</label>
              <select name="opcionSeleccionado" [(ngModel)]="opcionSeleccionado2" (change)="capturar2()" style="font-size: medium; margin-bottom: 10px; color:black">
              <option style="font-size: medium; margin-bottom: 10px; color:black" value="Selecciona una opción">Selecciona una opción</option>
              <option style="font-size: medium; margin-bottom: 10px; color:black" *ngFor="let item of getSmenu().extra2" value="{{item.name}}">{{item.name}}</option>
              </select>
              </div>
                                
              <div class="row">
              <label for="product" style="font-size:large; margin-top: 10px; margin-right: 10px">Extra Tipo 2</label>
              <select name="opcionSeleccionado" [(ngModel)]="opcionSeleccionado3" (change)="capturar3()" style="font-size: medium; margin-bottom: 10px; color:black">
              <option style="font-size: medium; margin-bottom: 10px; color:black" value="Selecciona una opción">Selecciona una opción</option>
              <option style="font-size: medium; margin-bottom: 10px; color:black" *ngFor="let item of getSmenu().extra1" value="{{item.name}}">{{item.name}}</option>
              </select>
              </div>
          </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Agregar al Carrito</button>
      </div>
    </ng-template>

    <ng-template #templateName>
        <div class="caja centrarCaja">
            <img src="{{product.img}}" width="200px" height="200px">
            <div class="Num1">
              <div class="overlay">
                <div class="text">PRODUCTO NO DISPONIBLE
                  <img src="/src/assets/equis.png" width="55px" height="55px">
                </div>
              </div>
            </div>
          </div>
          <h3 style="margin-top:75%; left:20px; color:red">NO DISPONIBLE</h3>
          <h3 style="left:20px">{{product.name}}</h3>
          <h4>{{product.description}}</h4>
  </ng-template>
    
<div class="container container-frm">
    <div class="row" id="panes">
     <h1>Panes</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Panes'}">
          <div *ngIf="men.type == 'Panes'">
              <div *ngIf="men.available == true;else guardar(men)"></div>
          <div *ngIf="men.available == true;else templateName"> 
        <div class="caja centrarCaja" Style="height: auto; width: auto">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)" (click)="encontrar(men)" (click)="addCarrito(men)">
              </div>
            </div>
          </div>
        </div>
          <h3 style="margin-top:75%">{{men.name}}</h3>
          <h4>{{men.description}}</h4>
          </div>
          </div>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="croissants">
      <h1>Croissants</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Croissants'}">
      <div *ngIf="men.type == 'Croissants'">
          <div *ngIf="men.available == true;else guardar(men)"></div>
      <div *ngIf="men.available == true;else templateName">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)" (click)="encontrar(men)" (click)="addCarrito(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
    </div>
    </div>
  </div>
    <div class="row" style="margin-top:100px" id="pastelitos">
      <h1>Pastelitos</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Pastelitos'}">
          <div *ngIf="men.type == 'Pastelitos'">
              <div *ngIf="men.available == true;else guardar(men)"></div>
          <div *ngIf="men.available == true;else templateName">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)" (click)="encontrar(men)" (click)="addCarrito(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="tortas">
      <h1>Tortas</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Tortas'}">
          <div *ngIf="men.type == 'Tortas'">
              <div *ngIf="men.available == true;else guardar(men)"></div>
            <div *ngIf="men.available == true;else templateName">
        <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text"> Precio: {{men.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)" (click)="encontrar(men)" (click)="addCarrito(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
      </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:100px" id="dulces">
      <h1>Dulces</h1>
    </div>
    <div class="row">
      <div *ngFor="let men of menu" [ngClass]="{'col-4':men.type == 'Dulces'}">
          <div *ngIf="men.type == 'Dulces'">
              <div *ngIf="men.available == true;else guardar(men)"></div>
          <div *ngIf="men.available == true;else templateName">
       <div class="caja centrarCaja">
          <img src="{{men.img}}" width="200px" height="200px">
          <div class="Num1">
            <div class="overlay">
              <div class="text">Precio: {{men.price}} $
                <img src="/src/assets/cart.jpg" width="55px" height="55px" alt="cart" (click)="open(content)" (click)="encontrar(men)" (click)="addCarrito(men)">
              </div>
            </div>
          </div>
        </div>
        <h3 style="margin-top:75%; left:20px">{{men.name}}</h3>
        <h4>{{men.description}}</h4>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-frm acordeon">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
        <ng-template ngbPanelTitle>
          <h2>Historial de Compras</h2>
        </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <div class="table table-hover">
                <thead>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Pedido</th>
                  <th>Recomprar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                    <td>{{producto.name}}</td>
                    <td>{{producto.price}}</td>
                    <td>Nro. {{producto.npedido}}</td>
                    <td><button class="btn btn-bg btn-lg" (click)="addCarrito(producto)">Recomprar</button></td>
                    </tr>
                </tbody>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        </ngb-accordion> 
    </div>
