<div class="row justify-contend-center cf">
    <div class="col-4 aligne-self-center  container-frm">
        <form (ngSubmit)="addUser()">
          <div class="row">
            <div class="col-12 text-center">
                <h2 style="color:white; font-family:PenelopeAnne; margin-bottom: 10px"><b>Registro</b></h2>
            </div>
          </div>
            <div class="row">
              <div class="col-6 text-center">
                  <div class="form-group">
                      <label for="given-name" style="color:white; font-family:PenelopeAnne; font-size:x-large">Nombre</label>
                      <input style="border-radius: 25px" type="text" class="form-control" name="name" [(ngModel)]="users.name">
                    </div>  
              </div>
              <div class="col-6 text-center">
                  <div class="form-group">
                      <label for="family-name" style="color:white; font-family:PenelopeAnne; font-size:x-large">Apellido</label>
                      <input style="border-radius: 25px" type="text" class="form-control" name="lastname" [(ngModel)]="users.lastname">
                    </div>
              </div>
            </div>
              <div class="form-group text-center">
                  <label for="email" style="color:white; font-family:PenelopeAnne; font-size:x-large">Correo Electronico</label>
                  <input style="border-radius: 25px" type="email" class="form-control" name="email" [(ngModel)]="users.email">
                </div>
              <div class="row">
                <div class="col-5 text-center">
                    <div class="form-group">
                        <label for="new-password" style="color:white; font-family:PenelopeAnne; font-size:x-large">Contraseña</label>
                        <input style="border-radius: 25px" type="password" class="form-control" name="password" [(ngModel)]="users.password">
                      </div>    
                </div>
                <div class="col-7 text-center">
                    <div class="form-group">
                        <label for="pwd" style="color:white; font-family:PenelopeAnne; font-size:x-large">Confirmar Contraseña</label>
                        <input style="border-radius: 25px" type="password" class="form-control" name="password" [(ngModel)]="users.passwordc">
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 centrar">
                    <a routerLink="/home"  type="submit" class="btn btn-bg"  >Regresar</a>
                </div>
                <div class="col-6 centrar2" >
                 <button type="submit" class="btn btn-bg" >Registrar</button>
                </div> 
              </div>
          </form>
    </div>
  </div>
  